name: Release
on:
  release:
    types: [published]
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          path: main

      - uses: actions/setup-python@v2
        with:
          python-version: '3.x'
          architecture: x64

      - name: Checkout Austin development branch
        uses: actions/checkout@master
        with:
          repository: P403n1x87/austin
          ref: devel
          path: austin

      - name: Compile Austin on Linux
        run: |
          cd $GITHUB_WORKSPACE/austin
          gcc -Wall -O3 -Os -s -pthread src/*.c -o src/austin

      - run: pip install nox
      - run: pip install poetry

      - name: Run nox on Linux
        run: |
          cd $GITHUB_WORKSPACE/main
          export PATH="$GITHUB_WORKSPACE/austin/src:$PATH"
          nox

      - run: poetry build
      - run: poetry publish --username=__token__ --password=${{ secrets.PYPI_TOKEN }}
